/* Animation */
@keyframes TagAnimateIn {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes TagAnimateOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  95% {
    transform: translateX(5px);
    opacity: 0;
  }
  100% {
    transform: translateX(5px);
    opacity: 0;
  }
}

/*  */
.wrapper {
  /* div */
  display: flex;
  align-items: center;
  gap: 3px;
  border-radius: 4px;
  padding: 4px 4px 4px 8px;
  background-color: #f3f3f3;
  font-family: 'Poppins', sans-serif;
  user-select: none;
  font-size: 11px;
}
.wrapper.animate-in {
  animation: TagAnimateIn 0.3s ease;
}
.wrapper.animate-out {
  animation: TagAnimateOut 0.3s ease;
}

.close-button {
  /* button */
  display: grid;
  place-items: center;
  cursor: pointer;
  border: none;
  font-family: inherit;
  background-color: transparent;
  transition: 0.3s;
  border-radius: 4px;
}

.close-button:active,
.close-button:focus {
  border: none;
  outline: none;
}

.close-button:hover {
  background-color: #e7e7e7;
}

.icon {
  /* span */
  color: #a6a6a6;
  font-weight: 700;
  font-size: 11px;
  padding: 1px 3px 1px 2px;
}
